/* Variables */
$font-header: 'Delicious Handrawn', cursive;
$font1: 'Alkatra', cursive;

/* GLOBAL */

body {
    
}

/* HEADER */

header {
    background-image: url("/images/pexel.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 200%;
    object-fit: cover;
    height: 100vh;
}

header h1 {
    font-family: $font-header;
    color: #f1c40f;
    font-size: 60px;
}
header h1:hover {
    color: #dd9595;
}

ul li {
    display: inline;
    padding: 10px;
    text-decoration-line: none;
    font-family: $font1;
    font-size: 20px;
    
  }

ul li a {
    text-decoration: none;
    color: #e0d3ff;
  }

ul li a:hover {
    color: #ffffff;
    border-bottom: 2px solid;
  }

header .p1 {
    padding-top: 200px;
    font-family: $font1;
    font-size: 60px;
    line-height: 3.0;
    color: #e0d3ff;
}

header .p2 {
    padding-top: -10px;
    font-family: $font1;
    font-size: 80px;
    line-height: 3.0;
    letter-spacing: 20px;
        color: #e0d3ff;
}

.btn {
    width: 250px;
    height: 50px;
}

/* OUR SERVICES */

.serv {
    font-family: $font1;
    font-size: 60px;
}

.servp {
    font-family: $font1;
    font-weight: lighter;
    font-size: 35px;
    line-height: 24px;
}

.service i {
    text-align: center;
    color:#f1c40f;
    font-size: 80px;
    padding-top: 150px;
    padding-bottom: 40px;
}

/* PORTFOLIO */

.portfolio {
    background-color: #ecf0f1;
}

.card {
    border: none;
    margin-top: 20px;
}

.image img {
    width: 100%; 
    height: 300px;
    object-fit: cover;
}

   .card img {
    width: 100%; 
    height: 500px;
     object-fit: cover;
    } 

/* FOOTER */

.footer ul {
  }
  
  .footer li {
    font-size: 0;
    margin-left: 2px;
  }
  
  .footer i {
    font-size: 20px;
    border: grey 1px solid;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    background: grey;
    color: rgb(0, 0, 0);
    margin-left: 5px;
  }
  
  .footer .fa-brands {
    text-align: center;
  }

/* MEDIA */
@media (max-width: 767px) {
    header {
        height: 700px;
    }
    header h1 {
        margin-top: 5px;
        text-align: center;
    }
    header .p1 {
        font-size: 20px;
        margin-top: -200px;
    }
    header .p2 {
        font-size: 20px;
        text-align: center;
    }

    .service {
        text-align: center;
    }
    .footer li {
        display: inline-block;

    }
}
